/*
~*
.*
*.sass-cache
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

bower_components
node_modules

sitemap.xml
[Tt]humbs.db

wp-content/*
wp-content/themes/twenty*

!.editorconfig
!.gitignore

!composer.json
!readme.md

!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg
!site.webmanifest

!wp-content/
!wp-content/themes/

grants_db
grants_db.csv
sftp.json
package-lock.json