/**
 * Custom CSS
 */

/* Sidebar conditionally hide or show via main.js */
.content-single__aside > h3 {
  display: none;
}

/* Overriding 'Focus Area' arrows color */
#focus-areas .list-4-col .bucket-description svg path { 
  stroke: #445277; 
} 

/* Adjusting Careers content strong color */
.content-careers .content-careers__entry .entry-content p strong:first-child { 
  color: #445277; 
} 

/* Recoloring background for archive results */
.block-feed-post {
  background-color: #e8eaf2;
}

/* Adjusting links on dark banner */ 
.page-header .entry-content a {
  color: #FFF; 
}
.page-header .entry-content a:hover,
.page-header .entry-content a:focus {
  color: #445277;
}

/* Ordered Lists Marker Color */ 
.entry-content ol>li::marker { 
  color: #445277; 
} 

/* Indenting all Lists */ 
.entry-content ol, .entry-content ul {
  padding-left: 1.25rem; 
} 
.entry-content ol > li, .entry-content ul > li {
  position: relative; 
} 
.entry-content ol > li::before, .entry-content ul > li::before {
  position: absolute; 
  left: -1.25rem; 
} 

/* Fixing Archive Pagination Overlap
 *
 * Making this work with the 'Grid' view required altering 
 * how the grid container works.  
 */
.block-feed {
  justify-content: space-between; 
  margin-left: 0; 
}
@media only screen and (min-width: 860px) {
  .block-feed {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .block-feed {
    padding-left: 86px;
  }
}
.block-feed.block-feed--images .block-feed-post,
.feed-section .block-feed .block-feed-post {
  margin-left: 0 !important; 
}
.feed-footer {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
} 
.feed-footer .feed-footer__options,
.feed-footer .pagination { 
  justify-content: flex-start; 
  width: 100%; 
}
.feed-footer .feed-footer__options {
  margin-top: 1.25rem; 
}
@media only screen and (min-width: 1024px) { 
  .feed-footer { 
    justify-content: space-between; 
    width: 100%; 
  }
  .feed-footer .feed-footer__options,
  .feed-footer .pagination {
    margin-top: 0;  
    width: auto; 
  }
} 

/* Homepage Highlighted Grants */ 
.bucket-image__bg { 
  background-color: #6e7ca0; 
  border-radius: 50%; 
  display: inline-block; 
  padding: 1.75rem; 
  padding-right: calc(1.75rem - 4px); 
  padding-top: calc(1.75rem - 4px); 
}

/* Grant's page */
h5.block-feed-post__focus-area, h5.block-feed-post__grant-amount {
	text-decoration: none ;
}