/**
 * Custom CSS
 */

/* Sidebar conditionally hide or show via main.js */
.content-single__aside > h3 {
  display: none;
}

/* Overriding 'Focus Area' arrows color */
#focus-areas .list-4-col .bucket-description svg path { 
  stroke: #445277; 
} 

/* Adjusting Careers content strong color */
.content-careers .content-careers__entry .entry-content p strong:first-child { 
  color: #445277; 
} 

/* Recoloring background for archive results */
.block-feed-post {
  background-color: #e8eaf2;
}

/* Adjusting links on dark banner */ 
.page-header .entry-content a {
  color: #FFF; 
}
.page-header .entry-content a:hover,
.page-header .entry-content a:focus {
  color: #445277;
}

/* Ordered Lists Marker Color */ 
.entry-content ol>li::marker { 
  color: #445277; 
} 

/* Indenting all Lists */ 
.entry-content ol, .entry-content ul {
  padding-left: 1.25rem; 
} 
.entry-content ol > li, .entry-content ul > li {
  position: relative; 
} 
.entry-content ol > li::before, .entry-content ul > li::before {
  position: absolute; 
  left: -1.25rem; 
} 

/* Fixing Archive Pagination Overlap
 *
 * Making this work with the 'Grid' view required altering 
 * how the grid container works.  
 */
.block-feed {
  justify-content: space-between; 
  margin-left: 0; 
}
@media only screen and (min-width: 860px) {
  .block-feed {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .block-feed {
    padding-left: 86px;
  }
}
.block-feed.block-feed--images .block-feed-post,
.feed-section .block-feed .block-feed-post {
  margin-left: 0 !important; 
}
.feed-footer {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
} 
.feed-footer .feed-footer__options,
.feed-footer .pagination { 
  justify-content: flex-start; 
  width: 100%; 
}
.feed-footer .feed-footer__options {
  margin-top: 1.25rem; 
}
@media only screen and (min-width: 1024px) { 
  .feed-footer { 
    justify-content: space-between; 
    width: 100%; 
  }
  .feed-footer .feed-footer__options,
  .feed-footer .pagination {
    margin-top: 0;  
    width: auto; 
  }
} 

/* Homepage Highlighted Grants */ 
.bucket-image__bg { 
  /* background-color: #6e7ca0; */
  /* border-radius: 50%; */
  display: inline-block;
  padding: 1.75rem;
  padding-right: calc(1.75rem - 4px);
  padding-top: calc(1.75rem - 4px);
}

/* Grant's page */
h5.block-feed-post__focus-area, h5.block-feed-post__grant-amount {
	text-decoration: none ;
}

.grant-intro {
	border-top: 1px solid #969eb1;
    border-bottom: 1px solid #969eb1;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.grant-intro p {
	padding: 1rem 0 0;
    margin-bottom: 0;
}

/* Chad Bugherd Task #237,#238 */
.single-header-categories p {
  padding: 8px;
  color: #445277;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 0;
}

/* Chad Bugherd Task #243 */
.search-no-results .page-header.page-header--search {
  min-height: auto;
}

.search-no-results .content-search-results .page-header {
  padding: 0;
  min-height: auto;
}

.search-no-results #search-input {
  width: 75%;
}

/* .content-single .entry-footnotes p {
  color: #000; 
  font-size: 12px;
  line-height: 22px; 
}

.content-single .entry-footnotes p a.footnote-label {
  font-size: 10px;
  vertical-align: top;
} */

div.page-header {
  height: 300px; 
  max-height: 300px; 
}

.aside-post-navigation li,
.aside-post-navigation li:last-child {
  margin-bottom: 0; 
}

.aside-post-navigation li a {
  color: #445277; 
  display: block; 
  font-size: 16px; 
  font-weight: 800; 
  line-height: 22px; 
  margin: 0 0 12px 0; 
  padding: 0; 
}
.aside-post-navigation li a:hover,
.aside-post-navigation li a:focus {
  text-decoration: underline; 
}

.aside-post-navigation li div.treetop {
  position: relative; 
  width: 100%; 
}
.aside-post-navigation li div.treetop span.foliage {
  display: none; 
  position: absolute; 
  top: 2px; 
  right: -16px; 
  z-index: 10;
}
.aside-post-navigation li.tree div.treetop span.foliage {
  align-items: center; 
  display: flex; 
  height: auto; 
  justify-content: center; 
  padding: 4px; 
  transform: rotate(180deg); 
  width: 22px; 
}
.aside-post-navigation li.tree.bloomed div.treetop span.foliage {
  transform: rotate(0deg); 
}
.aside-post-navigation li div.treetop span.foliage svg {
  height: auto; 
  margin: 0; 
  position: static; 
  width: 100%; 
}
.aside-post-navigation li div.treetop span.foliage svg .cls-1 { 
  fill:#445277; 
}

.aside-post-navigation li.tree ul.subtree {
  height: 0; 
  overflow: hidden; 
  padding: 0 0 0 12px; 
}

.aside-post-navigation li.tree.bloomed ul.subtree {
  height: auto; 
}

.aside-post-navigation ul.subtree li a {
  color: #000000; 
  font-weight: 400; 
}

.aside-post-navigation a::before {
  content: none; 
  display: none; 
}

.entry-content h2[id$="sources"] {
  position: relative;
} 
.entry-content h2[id$="sources"] span.source-expand {
  align-items: center; 
  cursor: default; 
  display: flex; 
  flex-wrap: nowrap; 
  font-size: 16px; 
  font-weight: 800; 
  height: 25px; 
  justify-content: flex-end; 
  position: absolute; 
  right: 0; 
  text-align: right; 
  top: calc(50% - 12.5px); 
}
.entry-content h2[id$="sources"] span.source-expand:hover,
.entry-content h2[id$="sources"] span.source-expand:focus {
  color: #6e7ca0; 
}
.entry-content h2[id$="sources"] span.source-expand svg {
  height: 25px; 
  margin-left: 8px; 
  padding: 0 6px; 
  transform: rotate(180deg); 
  width: 25px; 
}
.entry-content h2[id$="sources"].revealed span.source-expand svg {
  transform: rotate(0deg);
}
.entry-content h2[id$="sources"] span.source-expand svg .cls-1{
  fill:#445277; 
}

.entry-content h2[id$="sources"] + .source-wrap {
  height: 0; 
  overflow: hidden; 
}
.entry-content h2[id$="sources"].revealed + .source-wrap {
  height: auto; 
}

button.button-view-list {
  display: none !important; 
}
@media screen and (min-width: 650px) {
  button.button-view-list {
    display: flex !important; 
  } 
}