/**
 * Custom CSS
 */

/* Sidebar conditionally hide or show via main.js */
.content-single__aside > h3 {
  display: none;
}

/* Overriding 'Focus Area' arrows color */
#focus-areas .list-4-col .bucket-description svg path {
  stroke: #445277;
}

/* Adjusting Careers content strong color */
.content-careers .content-careers__entry .entry-content p strong:first-child {
  color: #445277;
}

/* Recoloring background for archive results */
.block-feed-post {
  background-color: #e8eaf2;
}

/* Adjusting links on dark banner */
.page-header .entry-content a {
  color: #fff;
}
.page-header .entry-content a:hover,
.page-header .entry-content a:focus {
  color: #445277;
}

/* Ordered Lists Marker Color */
.entry-content ol > li::marker {
  color: #445277;
}

/* Indenting all Lists */
.entry-content ol,
.entry-content ul {
  padding-left: 1.25rem;
}
.entry-content ol > li,
.entry-content ul > li {
  position: relative;
}
.entry-content ol > li::before,
.entry-content ul > li::before {
  position: absolute;
  left: -1.25rem;
}

/* Fixing Archive Pagination Overlap
 *
 * Making this work with the 'Grid' view required altering 
 * how the grid container works.  
 */
.block-feed {
  justify-content: space-between;
  margin-left: 0;
}
@media only screen and (min-width: 860px) {
  .block-feed {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .block-feed {
    padding-left: 86px;
  }
}
.block-feed.block-feed--images .block-feed-post,
.feed-section .block-feed .block-feed-post {
  margin-left: 0 !important;
}
.feed-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feed-footer .feed-footer__options,
.feed-footer .pagination {
  justify-content: flex-start;
  width: 100%;
}
.feed-footer .feed-footer__options {
  margin-top: 1.25rem;
}
@media only screen and (min-width: 1024px) {
  .feed-footer {
    justify-content: space-between;
    width: 100%;
  }
  .feed-footer .feed-footer__options,
  .feed-footer .pagination {
    margin-top: 0;
    width: auto;
  }
}

/* Homepage Highlighted Grants */
.bucket-image__bg {
  /* background-color: #6e7ca0; */
  /* border-radius: 50%; */
  display: inline-block;
  padding: 1.75rem;
  padding-right: calc(1.75rem - 4px);
  padding-top: calc(1.75rem - 4px);
}

/* Grant's page */
h5.block-feed-post__focus-area,
h5.block-feed-post__grant-amount {
  text-decoration: none;
}

.grant-intro {
  border-top: 2px solid #cdd2de;
  margin-bottom: 0;
  padding: 1.25rem 0;
}

.grant-intro:last-child {
  border-bottom: 2px solid #cdd2de;
  margin-bottom: 1rem;
}

.grant-intro p {
  padding: 1rem 0 0;
  margin-bottom: 0;
}

/* Chad Bugherd Task #237,#238 */
.single-header-categories p {
  padding: 8px;
  color: #445277;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 0;
}

/* Chad Bugherd Task #243 */
.search-no-results .page-header.page-header--search {
  /* min-height: auto; */
}

.search-no-results .content-search-results .page-header {
  padding: 0;
  min-height: auto;
}

.search-no-results #search-input {
  width: 75%;
}

/* .content-single .entry-footnotes p {
  color: #000; 
  font-size: 12px;
  line-height: 22px; 
}

.content-single .entry-footnotes p a.footnote-label {
  font-size: 10px;
  vertical-align: top;
} */

div.page-header {
  /* height: 300px; */
  max-height: 300px;
}

.aside-post-navigation li,
.aside-post-navigation li:last-child {
  margin-bottom: 0;
}

.aside-post-navigation li a {
  color: #445277;
  display: block;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  margin: 0 0 12px 0;
  padding: 0;
}
.aside-post-navigation li a:hover,
.aside-post-navigation li a:focus {
  text-decoration: underline;
}

.aside-post-navigation li div.treetop {
  position: relative;
  width: 100%;
}
.aside-post-navigation li div.treetop span.foliage {
  display: none;
  position: absolute;
  top: 2px;
  right: -16px;
  z-index: 10;
}
.aside-post-navigation li.tree div.treetop span.foliage {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  padding: 4px;
  transform: rotate(180deg);
  width: 22px;
}
.aside-post-navigation li.tree.bloomed div.treetop span.foliage {
  transform: rotate(0deg);
}
.aside-post-navigation li div.treetop span.foliage svg {
  height: auto;
  margin: 0;
  position: static;
  width: 100%;
}
.aside-post-navigation li div.treetop span.foliage svg .cls-1 {
  fill: #445277;
}

.aside-post-navigation li.tree ul.subtree {
  height: 0;
  overflow: hidden;
  padding: 0 0 0 12px;
}

.aside-post-navigation li.tree.bloomed ul.subtree {
  height: auto;
}

.aside-post-navigation ul.subtree li a {
  color: #000000;
  font-weight: 400;
}

.aside-post-navigation a::before {
  content: none;
  display: none;
}

.entry-content h2[id$="sources"] {
  position: relative;
}
.entry-content h2[id$="sources"] span.source-expand {
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  font-weight: 800;
  height: 25px;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  text-align: right;
  top: calc(50% - 12.5px);
}
.entry-content h2[id$="sources"] span.source-expand:hover,
.entry-content h2[id$="sources"] span.source-expand:focus {
  color: #6e7ca0;
}
.entry-content h2[id$="sources"] span.source-expand svg {
  height: 25px;
  margin-left: 8px;
  padding: 0 6px;
  transform: rotate(180deg);
  width: 25px;
}
.entry-content h2[id$="sources"].revealed span.source-expand svg {
  transform: rotate(0deg);
}
.entry-content h2[id$="sources"] span.source-expand svg .cls-1 {
  fill: #445277;
}

.entry-content h2[id$="sources"] + .source-wrap {
  height: 0;
  overflow: hidden;
}
.entry-content h2[id$="sources"].revealed + .source-wrap {
  height: auto;
}

button.button-view-list {
  display: none !important;
}
@media screen and (min-width: 650px) {
  button.button-view-list {
    display: flex !important;
  }
}

.content-team__copy {
  margin: 24px 0;
}

.content div.scroll-box,
.content-single div.scroll-box {
  max-width: 100%;
  overflow-x: auto;
  width: 100% !important;
}
.content table.table-imported,
.content-single table.table-imported {
  table-layout: auto !important; 
  min-width: 100%; 
}

@media screen and (min-width: 768px) {
  .content-single .content-single__aside {
    max-height: calc(100vh - 110px);
    max-width: 320px;
    min-width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 32px;
    padding-right: 18px;
    width: 33%;
  }

  /* width */
  .content-single .content-single__aside::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .content-single .content-single__aside::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .content-single .content-single__aside::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 2px;
  }

  /* Handle on hover */
  .content-single .content-single__aside::-webkit-scrollbar-thumb:hover {
    background: #cdd2de;
  }
}
@media screen and (min-width: 1024px) {
  .content-single .content-single__aside {
    max-height: calc(100vh - 138px);
  }
}

.entry-content a {
 /* color: #6e7ca0; */
  color: #445277;
  text-decoration: underline;
}
.entry-content a:hover,
.entry-content a:focus {
  color: #263046;
/*  color: #445277; */
}

.entry-content a.see-footnote {
  font-size: 75%;
  font-weight: 400;
  line-height: 100%;
  margin-left: 2px;
  vertical-align: text-top;
}

.content-single .entry-footnotes .footnotes p,
.content-footnotes .footnotes p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
}
.content-single .entry-footnotes .footnotes p a.footnote-label,
.content-footnotes .footnotes p a.footnote-label {
  font-weight: 400;
  line-height: 100%;
  margin-right: 4px;
  vertical-align: text-top;
}

.content-single .entry-footnotes a.source-definition,
.content-footnotes a.source-definition {
  color: #263046;
  text-decoration: underline;
}
.content-single .entry-footnotes a.source-definition:hover,
.content-single .entry-footnotes a.source-definition:focus,
.content-footnotes a.source-definition:hover,
.content-footnotes a.source-definition:focus {
  color: #445277;
}

.content-single .entry-content figure {
  margin-bottom: 18px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 18px !important;
  max-width: 100%;
}

#footer .footer-cell-address h6 {
  font-size: 14px;
  line-height: 16px;
  margin-top: 12px;
}
#footer .footer-cell-address h6:first-child {
  margin-top: 0;
}
#footer .footer-cell-address a,
#footer .footer-cell-address address {
  font-size: 16px;
  line-height: 20px;
}

.content-basic-text {
  padding: 52px 0 80px;
}
@media screen and (min-width: 768px) {
  .content-basic-text {
    padding: 60px 0 100px;
  }
}
.content-basic-text .content-basic-text__main {
  max-width: 950px;
}
.content-basic-text .content-basic-text__main a,
.content-table-of-contents .content-table-of-contents__entry a {
  color: #263046;
  font-weight: 400;
  text-decoration: underline;
}
.content-basic-text .content-basic-text__main a:hover,
.content-basic-text .content-basic-text__main a:focus,
.content-table-of-contents .content-table-of-contents__entry a:hover,
.content-table-of-contents .content-table-of-contents__entry a:focus {
  color: #445277;
}
.content-basic-text .content-basic-text__main ol,
.content-basic-text .content-basic-text__main ul {
  padding-left: 1.25rem;
}
.content-basic-text .content-basic-text__main ol > li,
.content-basic-text .content-basic-text__main ul > li {
  position: relative;
}
.content-basic-text .content-basic-text__main ol {
  list-style: auto;
}
.content-basic-text .content-basic-text__main ul > li::before {
  content: "\2022";
  margin-right: 12px;
  width: 8px;
  color: #000;
  font-weight: 800;
  display: inline-block;
  position: absolute;
  left: -1.25rem;
}

.block-feed-post__head {
  position: relative;
}
.block-feed-post__head::after {
  box-shadow: inset 0 0 8px -3px rgb(0 0 0 / 50%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.content-single .entry-footnotes ul li,
.content-single .entry-footnotes ol li,
.content-footnotes ul li,
.content-footnotes ol li {
  font-size: 12px;
  line-height: 22px;
}

.error404 .search-form-box {
  background-color: transparent;
  max-width: none;
  padding: 0;
}
.error404 #search-input {
  width: 75%;
}

.error404
  .search-form
  input:not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
  padding: 0 16px;
  height: 40px;
  border: 2px solid #6e7ca0;
  border-radius: 999px;
}

@media only screen and (min-width: 768px) {
  .single-header-categories ul {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
  }
  .single-header-categories {
    height: auto;
  }
}
.single-header-categories p {
  margin: 0;
}
.single-header-categories .single-header-categories__content {
  padding: 8px 0;
}

.select2-dropdown.sidebar-filter-dropdown
  .select2-results
  .select2-results__options
  > li::after,
.select2-dropdown.sidebar-filter-dropdown
  .select2-results
  .select2-results__options
  > li::before {
  border-radius: 0;
}

ul.block-feed-title-head li h6 {
  cursor: default;
  display: inline-block;
}
ul.block-feed-title-head li h6::after {
  background-image: url("../img/angle-down-periwinkle.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: none;
  margin-left: 8px;
  height: 12px;
  transition-duration: 0.5s;
  width: 12px;
}
ul.block-feed-title-head li h6:hover::after,
ul.block-feed-title-head li h6.sorting::after {
  display: none;
}
ul.block-feed-title-head li h6.sorting.rev::after {
  transform: rotate(180deg);
}

#about p a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: underline;
}
#about p a:hover,
#about p a:focus {
  color: #263046;
}

.content-single-team p a {
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}
.content-single-team p a:hover,
.content-single-team p a:focus {
  color: #445277;
}

#about-focus-areas .about-focus-areas__content p a {
  color: #445277;
  font-weight: 400;
  text-decoration: underline;
}
#about-focus-areas .about-focus-areas__content p a:hover,
#about-focus-areas .about-focus-areas__content p a:focus {
  color: #263046;
}
.page-header .page-header__content p a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: underline;
}
.page-header .page-header__content p a:hover,
.page-header .page-header__content p a:focus {
  color: #263046;
}
.list-related-posts > li > *.single-related-posts__description p {
  word-break: break-word;
}

.block-feed-post--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-feed-post--container::after {
  content: "";
  flex: auto;
}
.block-feed-post--container.cubed::after {
  display: none;
}
@media screen and (min-width: 860px) {
  .block-feed-post--container::after {
    max-width: calc(50% - 20px);
  }
}
@media screen and (min-width: 1024px) {
  .block-feed-post--container::after {
    max-width: calc(33.33333% - 20px);
  }
}
@media screen and (min-width: 1200px) {
  .block-feed-post--container::after {
    max-width: calc(33.33333% - 24px);
  }
}

.sidebar-filter__submit {
  margin-bottom: 16px;
}

.entry-content blockquote {
  background-color: #eff1f5;
  border-left: 2px solid #4f5c78;
  margin: 26px 0;
  padding: 16px 16px 16px 32px;
}
.entry-content blockquote p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.entry-content blockquote p:last-of-type {
  margin-bottom: 0;
}
.entry-footnotes blockquote {
  background-color: #eff1f5;
  border-left: 2px solid #4f5c78;
  margin: 12px 0;
  padding: 8px 8px 8px 22px;
}
.entry-footnotes blockquote p {
  /* font-size: 16px;  */
  font-style: italic;
  font-weight: 400;
  /* line-height: 26px;  */
}
.entry-footnotes blockquote p:last-of-type {
  margin-bottom: 0;
}

.sidebar-filter__button.sidebar-filter__download {
  margin-top: 24px;
}
.sidebar-filter__button.sidebar-filter__download .button {
  background-color: rgba(110, 124, 160, 0.33);
  border: 0;
}

#header-sitewide-search-form {
  z-index: 40;
}

body:not(.home) header .sitewide-search-button svg path,
body.home header.is-scrolled .sitewide-search-button svg path {
  fill: #445277;
}

/* Grid View Eyebrow */
.block-feed-post-research {
  border-top: 0;
  padding: 0 0 20px 0;
}

.block-feed:not(.block-feed--list)
  .block-feed-post-research
  .block-feed-post__body {
  margin: 20px 20px 0 20px;
}

.block-feed-post__eyebrow {
  display: none;
}

.block-feed:not(.block-feed--list)
  .block-feed-post-research
  .block-feed-post__eyebrow {
  background-color: #6e7ca0;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  min-height: 31.11px;
  padding: 6px 20px;
  text-transform: uppercase;
}
.block-feed:not(.block-feed--list)
  .block-feed-post-research
  .block-feed-post__eyebrow
  p {
  line-height: 19.12px;
  margin: 0;
}

.block-feed:not(.block-feed--list)
  .block-feed-post-research
  .block-feed-post__date {
  display: none;
}

/* Research Archive Content Type Bubbles */
.block-feed.block-feed--research
  .block-feed-post
  .block-feed-post__body
  .block-feed-post__content_type
  ul.research-content-type {
  /* margin-top: -24px; */
  white-space: pre-line; 
  line-height: 0; 
}
.block-feed.block-feed--research
  .block-feed-post
  .block-feed-post__body
  .block-feed-post__content_type
  ul.research-content-type
  li {
  background-color: #fff;
  border-radius: 14px;
  display: block;
  margin-bottom: 10px;
  padding: 2px 13px;
}
.block-feed.block-feed--research
  .block-feed-post
  .block-feed-post__body
  .block-feed-post__content_type
  ul.research-content-type
  li
  a {
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.block-feed:not(.block-feed--list)
  .block-feed-post
  .block-feed-post__content_type {
  display: block;
}

.block-feed:not(.block-feed--list)
  .block-feed-post-research
  .block-feed-post__category {
  margin-bottom: 15px;
}

/* @media only screen and (min-width: 1024px) {
  .block-feed.block-feed--list.block-feed--research .block-feed-post .block-feed-post__body .block-feed-post__date {
    flex: 0 0 160px; 
  } 
  .block-feed-title-head.is-research>li:nth-child(2) {
    flex: 0 0 160px; 
  } 
  .block-feed.block-feed--list.block-feed--research .block-feed-post .block-feed-post__body .block-feed-post__content_type {
    flex: 0 0 auto; 
  }
} */

.select2-dropdown.sidebar-filter-dropdown
  .select2-results
  .select2-results__options
  > li.is-term-child.level-3::before {
  left: 40px;
}

.select2-dropdown.sidebar-filter-dropdown
  .select2-results
  .select2-results__options
  > li.is-term-child.level-3 {
  padding-left: 76px !important;
}
.select2-dropdown.sidebar-filter-dropdown
  .select2-results
  .select2-results__options
  > li.is-term-child.level-3::after {
  left: 44px;
}

.select2-results
  .select2-results__options
  li.select2-results__option.active::after {
  opacity: 100;
}

.select2-dropdown
  .select2-search--hide
  + .select2-results
  .select2-results__options {
  max-height: 200px;
}

#footer .footer-cell-social a.button {
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  padding: 8px 22px 6px;
  width: auto;
  background: none;
  border: 2px solid #445277;
  border-radius: 999px;
  box-shadow: none;
  font-family: "Avenir", "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.375;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  position: relative;
  z-index: 10;
  vertical-align: middle;
  transition: all 0.25s ease-out;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 14px;
}

#footer .footer-cell-social a.button:hover,
#footer .footer-cell-social a.button:focus {
  background-color: #fff;
  border-color: #fff;
  color: #445277;
  text-decoration: none;
}

figcaption {
  font-size: 14px;
  font-style: italic;
  margin-top: 8px;
}

/* CSS BELOW ADDED BY CHAD ON 2/28/20. */

iframe {
  width: 100%;
}

.block-feed-post h5,
.block-feed-post h5 a.focus-area-link {
  text-decoration: none;
}

body.single-research table.table-imported > *:first-child > tr:first-child td {
  background-color: #445277;
  color: white;
  border-right: 1px solid white;
  vertical-align: top;
}

body.single-research table.table-imported > *:first-child > tr:first-child td a,
table.table-imported thead th a,
body.single-research
  table.table-imported
  > *:first-child
  > tr:first-child
  td
  a:hover,
table.table-imported thead th a:hover {
  color: #fff;
}

body.logged-in.admin-bar #header {
  top: 32px;
}

.block-feed-title-head {
  padding: 0 20px 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 114px;
  background-color: #fff;
  z-index: 999;
} 
@media screen and (min-width: 1440px) {
  .block-feed-title-head {
    padding-left: 86px; 
  }
}

body.logged-in.admin-bar .block-feed-title-head {
  top: 145px;
}

.list-team {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  div.page-header {
    height: auto;
    max-height: none;
  }
}

@media only screen and (min-width: 1024px) {
  .list-statistics .header-number {
    line-height: 1;
    display: inline-flex;
    margin-top: -0.25em;
  }

  .list-statistics > li h4 {
    display: flex;
    align-items: center;
  }
}

.entry-content li ol,
.entry-content li ul,
.entry-content ol:last-child li ol,
.entry-content ul:last-child li ul {
  margin-top: 7px;
  margin-bottom: 7px;
}

small {
  font-size: 0.75em;
  line-height: 1;
}

.table th,
table.table-imported thead th,
.table td,
table.table-imported td {
  vertical-align: middle;
}

table.table-imported thead th {
  border: 1px solid white;
}

table.table-imported td p:not(:first-child) {
  margin-top: 1em;
}

.entry-content a.see-footnote sup,
.entry-content sup a.see-footnote {
  font-size: 100%;
}

.entry-content table.vertical-scroll {
  max-height: 600px;
  overflow: auto;
  display: block;
}

blockquote b {
  font-weight: bold;
}

ul.list-related-posts > li > h3 {
  margin-top: 28px;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}

.section-content.nested-section {
  padding-left: 2rem;
}

.entry-content img.aligncenter {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .pagenav-aside {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 32px;
    padding-right: 18px;
    max-height: calc(100vh - 138px);
  }
}

.entry-content div:not([class]):not([id]) {
  margin: 0 0 1rem;
}

@media only screen and (min-width: 768px) {
  .list-statistics > li {
    display: flex;
    align-items: center;
  }
}
/* END CSS ADDED BY CHAD */

/* .selection-dropdown {
  background-color: #374261; 
  height: 43px; 
  overflow: hidden; 
} 
.selection-dropdown.active {
  height: 173px; 
  overflow-y: scroll; 
} */

.selection-dropdown { 
  color: #FFF; 
  font-size: 16px; 
  margin-bottom: 0; 
  overflow: hidden; 
  cursor: pointer; 
  width: 100%; 
} 

.selection-prompt { 
  align-items: center; 
  background-color: #374261; 
  border-radius: 999px; 
  display: flex; 
  height: 43px; 
  justify-content: space-between; 
  padding: 0 16px; 
  position: relative; 
  transition-duration: .25s; 
  width: 100%; 
}
.selection-prompt:hover, 
.selection-prompt:focus {
  background-color: #445277; 
} 
.selection-dropdown.active .selection-prompt::before {
  background-color: #374261; 
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  content: ""; 
  display: block; 
  height: 13px; 
  position: absolute; 
  right: 16px; 
  bottom: -17px; 
  width: 23px; 
}
.selection-prompt span.indicator { 
  align-items: center; 
  display: flex; 
} 
.selection-prompt span.indicator svg {
  height: 13px; 
  width: 23px; 
} 
.selection-dropdown.active .selection-prompt span.indicator svg { 
  transform: rotate(180deg); 
} 

.selection-options {
  background-color: #374261; 
  border-radius: 12px; 
  max-height: 0; 
  overflow: hidden; 
} 
.selection-dropdown.active .selection-options {
  margin-top: 16px; 
  max-height: 173px; 
} 

.selection-options input, 
.selection-options label { 
  cursor: pointer; 
} 

.selection-options label { 
  border-bottom: 1px solid #FFF; 
  font-size: 14px; 
  line-height: 18px; 
  padding: 12px 16px; 
  padding-left: 40px; 
  position: relative; 
  width: 100%; 
} 
.selection-options label::before {
  background-color: #FFF; 
  content: ""; 
  display: inline-block; 
  height: 15px; 
  left: 16px; 
  position: absolute; 
  top: 12px; 
  width: 15px; 
}
.selection-options label:hover, 
.selection-options label:focus { 
  background-color: #445277; 
} 
.selection-options label:last-of-type { 
  border-bottom: none; 
} 

.selection-options label[data-depth='level-2'] { 
  padding-left: 50px; 
} 
.selection-options label[data-depth='level-2']::before { 
  left: 26px; 
} 
.selection-options label[data-depth='level-3'] { 
  padding-left: 60px; 
} 
.selection-options label[data-depth='level-3']::before { 
  left: 36px; 
} 

.selection-options input[type='text'].selection-search {
  background: none; 
  border-bottom: 1px solid #FFF; 
  color: #FFF; 
  cursor: auto; 
  font-size: 14px; 
  padding: 9px 16px 10px; 
  width: 100%; 
} 
.selection-options input[type='text'].selection-search::placeholder { 
  color: #FFF; 
} 
.selection-options input[type='text'].selection-search:focus {
  outline: none; 
} 

.selection-options .options-wrapper {
  max-height: 129px; 
  overflow-y: scroll; 
} 

.selection-options label input[type="checkbox"] { 
  display: none; 
} 

.selection-options label span.checked-box {
 /*  background-color: #263046; */
  display: none; 
  height: 11px; 
  left: 18px; 
  position: absolute; 
  top: 14px; 
  width: 11px;
  color: #000; 
} 
span.checked-box:after {
  content: "\D7";
  font-size: 35px;
  position: absolute;
  margin: auto;
  padding: 0;
  left: -6px;
  top: -1.5px;
}
.selection-options label[data-depth='level-2'] span.checked-box { 
  left: 28px; 
} 
.selection-options label[data-depth='level-3'] span.checked-box { 
  left: 38px; 
} 
.selection-options label input[type="checkbox"]:checked + span.checked-box {
  display: block; 
} 

.page-header-categories .clear-categories { 
  display: flex; 
} 

.content-single .entry-content figure {
  text-align: center; 
}
.content-single .entry-content p img { 
  display: block;
  margin: 0 auto;
} 


/* Sidebar Search */ 
.sidebar-filter .sidebar-filter__search input[type="search"] {
  align-items: center;
  background-color: #263046;
  border: 2px solid #6e7ca0; 
  border-color: #6e7ca0;
  border-radius: 999px;
  color: #fff;
  cursor: initial;
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  justify-content: center;
  line-height: 1.375;
  margin: 0;
  outline: 0;
  padding: 3px 16px 0;
  position: relative;
  text-align: left;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  width: 100%;
  z-index: 10;
}
.sidebar-filter .sidebar-filter__search input[type="search"]::placeholder {
  color: #FFF; 
}
.quote-slideshow .slick-slide {
  height: unset;
}
.more-than {
  font-size: 16px;
  white-space: nowrap;
  display: inline-flex;
  position: absolute;
}
/* Add arrows to footnotes */
/* .footnote-label::before {
  content: "\1F819";
  font-weight: bold;
  margin-right: 2px;
}
*/
a.backlink-arrow {
  color: #000;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.15s ease-out;
  font-size: 14px;
}

a.backlink-arrow:hover {
  color: #6e7ca0;
}

a.backlink-arrow img {
  width: 14px;
  height: auto;
  margin: 1px 2px;
}
