.page-template-team .mfp-inline-holder .mfp-content,
.page-template-team-modal .mfp-inline-holder .mfp-content {
  background: white;
  width: 90%;
  padding: 1em;
  max-width: 500px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid grey;
}
.page-template-team .mfp-inline-holder .mfp-close,
.page-template-team-modal .mfp-inline-holder .mfp-close {
  font-size: 32px;
}
.team-item .open-popup-link {
  color: gray;
  font-size: 25px;
  margin: 0px 5px -5px -25px;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

@media only screen and (min-width: 768px) {
  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
  .page-template-team .mfp-inline-holder .mfp-content {
    width: 80%;
    padding: 2em 2em 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

.team-grid article {
  text-align: center;
  min-height: 105px;
}

.team-grid article aside {
  display: none;
  text-align: center;
}

.team-grid article:hover aside {
  display: block;
}

.team-item-header {
  position: relative;
  height: 96px;
}

.team-grid h4,
.team-grid a h4 {
  margin: 12px 0 4px;
  color: #445277;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
}
.team-grid a:hover,
.team-grid a:focus {
  text-decoration: underline;
}
.team-grid a.open-popup-link:hover,
.team-grid a.open-popup-link:focus {
  text-decoration: none;
}

.team-grid h6 {
  margin: 0 auto 8px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 22px;
  text-transform: uppercase;
  max-width: 100%;
  padding: 0 30px;
}
@media only screen and (max-width: 350px) {
  .team-grid h6 {
    letter-spacing: 0;
  }
}
.team-grid svg {
  width: 35px;
  height: 16px;
  transition: all 0.15s ease-out;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
}

.team-grid img {
  width: 276px;
  height: 276px;
  border-radius: 50%;
  object-fit: cover;
}

.team-grid .grid-team__icon {
  margin-top: 10px;
  left: 0;
  position: relative;
  right: 0;
}

.team-item {
  position: relative;
}
.team-item details {
    position: relative;
    text-align: left;
}
.team-item details p {
  position: relative;
  text-align: left;
  z-index: 999;
  background: white;
  padding: 0.5em 5px 0.5em 5px;
}
.team-item summary {
  position: absolute;
  list-style: none;
  margin-top: -24px;
}
.team-item summary::-webkit-details-marker {display: none; }

/* By using [open] we can define different styles when the disclosure widget is open */
.team-item details[open] summary::before { 
    content:""; 
    color: grey; 
    position: absolute;
    top: -70px;
    left: 0px;
    width: 26px;
    height: 26px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>');
}
.team-item details summary::before {
    content: "";
    color: grey;
    position: absolute;
    top: -70px;
    left: 0px;
    width: 26px;
    height: 26px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
}
.cta-button {
  z-index: 0;
  position: relative;
}
