*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: inherit;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

blockquote {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
}

hr {
  height: 0;
  box-sizing: content-box;
  overflow: visible;
}

iframe {
  max-width: 100%;
  vertical-align: top;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

p {
  margin: 0 0 1rem;
}

select {
  appearance: none;
}

strong {
  font-weight: 700;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

svg {
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

video {
  max-width: 100%;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"],
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

label {
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  overflow: auto;
  resize: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}