%cell {
  padding-left: 2rem;
  flex-basis: 100%;
  flex: 0 0 100%;
  width: 100%;
  max-width: none;
  position: relative;
}

%grid {
  margin-left: -2rem;
  display: flex;
  flex-wrap: wrap;
  &%grid--1 {
    > %cell {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &%grid--1 {
    > %cell {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &%grid--2 {
    > %cell {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  &%grid--3 {
    > %cell {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
  &%grid--4 {
    > %cell {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  &%grid--5 {
    > %cell {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  &%grid--6 {
    > %cell {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  }
  &%grid--7 {
    > %cell {
      flex: 0 0 14.28571%;
      max-width: 14.28571%;
    }
  }
  &%grid--8 {
    > %cell {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
  &%grid--9 {
    > %cell {
      flex: 0 0 11.11111%;
      max-width: 11.11111%;
    }
  }
  &%grid--10 {
    > %cell {
      flex: 0 0 10%;
      max-width: 10%;
    }
  }
  &%grid--11 {
    > %cell {
      flex: 0 0 9.0909%;
      max-width: 9.0909%;
    }
  }
  &%grid--12 {
    > %cell {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  }
  &%grid--alignment {
    > %cell {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &%grid--gap-none {
    margin-left: 0;
    > %cell {
      padding-left: 0;
    }
  }
  &%grid--gap-tight {
    margin-left: -1rem;
    > %cell {
      padding-left: 1rem;
    }
  }
  &%grid--gap-normal {
    margin-left: -2rem;
    > %cell {
      padding-left: 2rem;
    }
  }
  &%grid--gap-loose {
    margin-left: -4rem;
    > %cell {
      padding-left: 4rem;
    }
  }
  &%grid--gap-wide {
    margin-left: -8rem;
    > %cell {
      padding-left: 8rem;
    }
  }
  &%grid--reverse {
    flex-direction: row-reverse;
  }
  &%grid--reverse-off {
    flex-direction: row;
  }
  &%grid--xs-1 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  &%grid--xs-2 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  &%grid--xs-3 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
  }
  &%grid--xs-4 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  &%grid--xs-5 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
  &%grid--xs-6 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }
  &%grid--xs-7 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
      }
    }
  }
  &%grid--xs-8 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 12.5%;
        max-width: 12.5%;
      }
    }
  }
  &%grid--xs-9 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 11.11111%;
        max-width: 11.11111%;
      }
    }
  }
  &%grid--xs-10 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 10%;
        max-width: 10%;
      }
    }
  }
  &%grid--xs-11 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 9.0909%;
        max-width: 9.0909%;
      }
    }
  }
  &%grid--xs-12 {
    > %cell {
      @media screen and (min-width: $xs) {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
      }
    }
  }
  &%grid--xs-gap-none {
    @include min-width($xs) {
      margin-left: 0;
      > %cell {
        padding-left: 0;
      }
    }
  }
  &%grid--xs-gap-tight {
    @media screen and (min-width: $xs) {
      margin-left: -1rem;
      > %cell {
        padding-left: 1rem;
      }
    }
  }
  &%grid--xs-gap-normal {
    @media screen and (min-width: $xs) {
      margin-left: -2rem;
      > %cell {
        padding-left: 2rem;
      }
    }
  }
  &%grid--xs-gap-loose {
    @media screen and (min-width: $xs) {
      margin-left: -4rem;
      > %cell {
        padding-left: 4rem;
      }
    }
  }
  &%grid--xs-gap-wide {
    @media screen and (min-width: $xs) {
      margin-left: -8rem;
      > %cell {
        padding-left: 8rem;
      }
    }
  }
  &%grid--xs-reverse {
    @media screen and (min-width: $xs) {
      flex-direction: row-reverse;
    }
  }
  &%grid--xs-reverse-off {
    @media screen and (min-width: $xs) {
      flex-direction: row;
    }
  }
  &%grid--sm-1 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  &%grid--sm-2 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  &%grid--sm-3 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
  }
  &%grid--sm-4 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  &%grid--sm-5 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
  &%grid--sm-6 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }
  &%grid--sm-7 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
      }
    }
  }
  &%grid--sm-8 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 12.5%;
        max-width: 12.5%;
      }
    }
  }
  &%grid--sm-9 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 11.11111%;
        max-width: 11.11111%;
      }
    }
  }
  &%grid--sm-10 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 10%;
        max-width: 10%;
      }
    }
  }
  &%grid--sm-11 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 9.0909%;
        max-width: 9.0909%;
      }
    }
  }
  &%grid--sm-12 {
    > %cell {
      @media screen and (min-width: $sm) {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
      }
    }
  }
  &%grid--sm-gap-none {
    @include min-width($sm) {
      margin-left: 0;
      > %cell {
        padding-left: 0;
      }
    }
  }
  &%grid--sm-gap-tight {
    @media screen and (min-width: $sm) {
      margin-left: -1rem;
      > %cell {
        padding-left: 1rem;
      }
    }
  }
  &%grid--sm-gap-normal {
    @media screen and (min-width: $sm) {
      margin-left: -2rem;
      > %cell {
        padding-left: 2rem;
      }
    }
  }
  &%grid--sm-gap-loose {
    @media screen and (min-width: $sm) {
      margin-left: -4rem;
      > %cell {
        padding-left: 4rem;
      }
    }
  }
  &%grid--sm-gap-wide {
    @media screen and (min-width: $sm) {
      margin-left: -8rem;
      > %cell {
        padding-left: 8rem;
      }
    }
  }
  &%grid--sm-reverse {
    @media screen and (min-width: $sm) {
      flex-direction: row-reverse;
    }
  }
  &%grid--sm-reverse-off {
    @media screen and (min-width: $sm) {
      flex-direction: row;
    }
  }
  &%grid--md-1 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  &%grid--md-2 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  &%grid--md-3 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
  }
  &%grid--md-4 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  &%grid--md-5 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
  &%grid--md-6 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }
  &%grid--md-7 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
      }
    }
  }
  &%grid--md-8 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 12.5%;
        max-width: 12.5%;
      }
    }
  }
  &%grid--md-9 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 11.11111%;
        max-width: 11.11111%;
      }
    }
  }
  &%grid--md-10 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 10%;
        max-width: 10%;
      }
    }
  }
  &%grid--md-11 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 9.0909%;
        max-width: 9.0909%;
      }
    }
  }
  &%grid--md-12 {
    > %cell {
      @media screen and (min-width: $md) {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
      }
    }
  }
  &%grid--md-gap-none {
    @include min-width($md) {
      margin-left: 0;
      > %cell {
        padding-left: 0;
      }
    }
  }
  &%grid--md-gap-tight {
    @media screen and (min-width: $md) {
      margin-left: -1rem;
      > %cell {
        padding-left: 1rem;
      }
    }
  }
  &%grid--md-gap-normal {
    @media screen and (min-width: $md) {
      margin-left: -2rem;
      > %cell {
        padding-left: 2rem;
      }
    }
  }
  &%grid--md-gap-loose {
    @media screen and (min-width: $md) {
      margin-left: -4rem;
      > %cell {
        padding-left: 4rem;
      }
    }
  }
  &%grid--md-gap-wide {
    @media screen and (min-width: $md) {
      margin-left: -8rem;
      > %cell {
        padding-left: 8rem;
      }
    }
  }
  &%grid--md-reverse {
    @media screen and (min-width: $md) {
      flex-direction: row-reverse;
    }
  }
  &%grid--md-reverse-off {
    @media screen and (min-width: $md) {
      flex-direction: row;
    }
  }
  &%grid--lg-1 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  &%grid--lg-2 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  &%grid--lg-3 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
  }
  &%grid--lg-4 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  &%grid--lg-5 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
  &%grid--lg-6 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }
  &%grid--lg-7 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
      }
    }
  }
  &%grid--lg-8 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 12.5%;
        max-width: 12.5%;
      }
    }
  }
  &%grid--lg-9 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 11.11111%;
        max-width: 11.11111%;
      }
    }
  }
  &%grid--lg-10 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 10%;
        max-width: 10%;
      }
    }
  }
  &%grid--lg-11 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 9.0909%;
        max-width: 9.0909%;
      }
    }
  }
  &%grid--lg-12 {
    > %cell {
      @media screen and (min-width: $lg) {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
      }
    }
  }
  &%grid--lg-gap-none {
    @include min-width($lg) {
      margin-left: 0;
      > %cell {
        padding-left: 0;
      }
    }
  }
  &%grid--lg-gap-tight {
    @media screen and (min-width: $lg) {
      margin-left: -1rem;
      > %cell {
        padding-left: 1rem;
      }
    }
  }
  &%grid--lg-gap-normal {
    @media screen and (min-width: $lg) {
      margin-left: -2rem;
      > %cell {
        padding-left: 2rem;
      }
    }
  }
  &%grid--lg-gap-loose {
    @media screen and (min-width: $lg) {
      margin-left: -4rem;
      > %cell {
        padding-left: 4rem;
      }
    }
  }
  &%grid--lg-gap-wide {
    @media screen and (min-width: $lg) {
      margin-left: -8rem;
      > %cell {
        padding-left: 8rem;
      }
    }
  }
  &%grid--lg-reverse {
    @media screen and (min-width: $lg) {
      flex-direction: row-reverse;
    }
  }
  &%grid--lg-reverse-off {
    @media screen and (min-width: $lg) {
      flex-direction: row;
    }
  }
  &%grid--xl-1 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  &%grid--xl-2 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  &%grid--xl-3 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
  }
  &%grid--xl-4 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  &%grid--xl-5 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
  &%grid--xl-6 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }
  &%grid--xl-7 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
      }
    }
  }
  &%grid--xl-8 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 12.5%;
        max-width: 12.5%;
      }
    }
  }
  &%grid--xl-9 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 11.11111%;
        max-width: 11.11111%;
      }
    }
  }
  &%grid--xl-10 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 10%;
        max-width: 10%;
      }
    }
  }
  &%grid--xl-11 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 9.0909%;
        max-width: 9.0909%;
      }
    }
  }
  &%grid--xl-12 {
    > %cell {
      @media screen and (min-width: $xl) {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
      }
    }
  }
  &%grid--xl-gap-none {
    @include min-width($xl) {
      margin-left: 0;
      > %cell {
        padding-left: 0;
      }
    }
  }
  &%grid--xl-gap-tight {
    @media screen and (min-width: $xl) {
      margin-left: -.5rem;
      > %cell {
        padding-left: .5rem;
      }
    }
  }
  &%grid--xl-gap-normal {
    @media screen and (min-width: $xl) {
      margin-left: -1rem;
      > %cell {
        padding-left: 1rem;
      }
    }
  }
  &%grid--xl-gap-loose {
    @media screen and (min-width: $xl) {
      margin-left: -2rem;
      > %cell {
        padding-left: 2rem;
      }
    }
  }
  &%grid--xl-gap-wide {
    @media screen and (min-width: $xl) {
      margin-left: -4rem;
      > %cell {
        padding-left: 4rem;
      }
    }
  }
  &%grid--xl-reverse {
    @media screen and (min-width: $xl) {
      flex-direction: row-reverse;
    }
  }
  &%grid--xl-reverse-off {
    @media screen and (min-width: $xl) {
      flex-direction: row;
    }
  }
  &%grid--flexible {
    > %cell {
      flex: 1;
      max-width: none;
    }
  }
}

%flex-25 {
  flex: 0 0 25% !important;
  max-width: 25% !important;
}

%flex-33 {
  flex: 0 0 33.33333% !important;
  max-width: 33.33333% !important;
}

%flex-50 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

%flex-66 {
  flex: 0 0 66.66667% !important;
  max-width: 66.66667% !important;
}

%flex-75 {
  flex: 0 0 75% !important;
  max-width: 75% !important;
}

%flex-100 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

%sm-flex-25 {
  @media screen and (min-width: $sm) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

%sm-flex-33 {
  @media screen and (min-width: $sm) {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }
}

%sm-flex-50 {
  @media screen and (min-width: $sm) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

%sm-flex-66 {
  @media screen and (min-width: $sm) {
    flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }
}

%sm-flex-75 {
  @media screen and (min-width: $sm) {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}

%sm-flex-100 {
  @media screen and (min-width: $sm) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

%md-flex-25 {
  @media screen and (min-width: $md) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

%md-flex-33 {
  @media screen and (min-width: $md) {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }
}

%md-flex-50 {
  @media screen and (min-width: $md) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

%md-flex-66 {
  @media screen and (min-width: $md) {
    flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }
}

%md-flex-75 {
  @media screen and (min-width: $md) {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}

%md-flex-100 {
  @media screen and (min-width: $md) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

%lg-flex-25 {
  @media screen and (min-width: $lg) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

%lg-flex-33 {
  @media screen and (min-width: $lg) {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }
}

%lg-flex-50 {
  @media screen and (min-width: $lg) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

%lg-flex-66 {
  @media screen and (min-width: $lg) {
    flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }
}

%lg-flex-75 {
  @media screen and (min-width: $lg) {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}

%lg-flex-100 {
  @media screen and (min-width: $lg) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

%xl-flex-25 {
  @media screen and (min-width: $xl) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

%xl-flex-33 {
  @media screen and (min-width: $xl) {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }
}

%xl-flex-50 {
  @media screen and (min-width: $xl) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

%xl-flex-66 {
  @media screen and (min-width: $xl) {
    flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }
}

%xl-flex-75 {
  @media screen and (min-width: $xl) {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}

%xl-flex-100 {
  @media screen and (min-width: $xl) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

%order-0 {
  order: 0 !important;
}

%order-1 {
  order: 1 !important;
}

%order-2 {
  order: 2 !important;
}

%order-3 {
  order: 3 !important;
}

%order-4 {
  order: 4 !important;
}

%order-5 {
  order: 5 !important;
}

%order-6 {
  order: 6 !important;
}

%order-7 {
  order: 7 !important;
}

%order-8 {
  order: 8 !important;
}

%order-9 {
  order: 9 !important;
}

%order-10 {
  order: 10 !important;
}

%order-11 {
  order: 11 !important;
}

%order-12 {
  order: 12 !important;
}

%sm-order-0 {
  @media screen and (min-width: $sm) {
    order: 0 !important;
  }
}

%sm-order-1 {
  @media screen and (min-width: $sm) {
    order: 1 !important;
  }
}

%sm-order-2 {
  @media screen and (min-width: $sm) {
    order: 2 !important;
  }
}

%sm-order-3 {
  @media screen and (min-width: $sm) {
    order: 3 !important;
  }
}

%sm-order-4 {
  @media screen and (min-width: $sm) {
    order: 4 !important;
  }
}

%sm-order-5 {
  @media screen and (min-width: $sm) {
    order: 5 !important;
  }
}

%sm-order-6 {
  @media screen and (min-width: $sm) {
    order: 6 !important;
  }
}

%sm-order-7 {
  @media screen and (min-width: $sm) {
    order: 7 !important;
  }
}

%sm-order-8 {
  @media screen and (min-width: $sm) {
    order: 8 !important;
  }
}

%sm-order-9 {
  @media screen and (min-width: $sm) {
    order: 9 !important;
  }
}

%sm-order-10 {
  @media screen and (min-width: $sm) {
    order: 10 !important;
  }
}

%sm-order-11 {
  @media screen and (min-width: $sm) {
    order: 11 !important;
  }
}

%sm-order-12 {
  @media screen and (min-width: $sm) {
    order: 12 !important;
  }
}

%md-order-0 {
  @media screen and (min-width: $md) {
    order: 0 !important;
  }
}

%md-order-1 {
  @media screen and (min-width: $md) {
    order: 1 !important;
  }
}

%md-order-2 {
  @media screen and (min-width: $md) {
    order: 2 !important;
  }
}

%md-order-3 {
  @media screen and (min-width: $md) {
    order: 3 !important;
  }
}

%md-order-4 {
  @media screen and (min-width: $md) {
    order: 4 !important;
  }
}

%md-order-5 {
  @media screen and (min-width: $md) {
    order: 5 !important;
  }
}

%md-order-6 {
  @media screen and (min-width: $md) {
    order: 6 !important;
  }
}

%md-order-7 {
  @media screen and (min-width: $md) {
    order: 7 !important;
  }
}

%md-order-8 {
  @media screen and (min-width: $md) {
    order: 8 !important;
  }
}

%md-order-9 {
  @media screen and (min-width: $md) {
    order: 9 !important;
  }
}

%md-order-10 {
  @media screen and (min-width: $md) {
    order: 10 !important;
  }
}

%md-order-11 {
  @media screen and (min-width: $md) {
    order: 11 !important;
  }
}

%md-order-12 {
  @media screen and (min-width: $md) {
    order: 12 !important;
  }
}

%lg-order-0 {
  @media screen and (min-width: $lg) {
    order: 0 !important;
  }
}

%lg-order-1 {
  @media screen and (min-width: $lg) {
    order: 1 !important;
  }
}

%lg-order-2 {
  @media screen and (min-width: $lg) {
    order: 2 !important;
  }
}

%lg-order-3 {
  @media screen and (min-width: $lg) {
    order: 3 !important;
  }
}

%lg-order-4 {
  @media screen and (min-width: $lg) {
    order: 4 !important;
  }
}

%lg-order-5 {
  @media screen and (min-width: $lg) {
    order: 5 !important;
  }
}

%lg-order-6 {
  @media screen and (min-width: $lg) {
    order: 6 !important;
  }
}

%lg-order-7 {
  @media screen and (min-width: $lg) {
    order: 7 !important;
  }
}

%lg-order-8 {
  @media screen and (min-width: $lg) {
    order: 8 !important;
  }
}

%lg-order-9 {
  @media screen and (min-width: $lg) {
    order: 9 !important;
  }
}

%lg-order-10 {
  @media screen and (min-width: $lg) {
    order: 10 !important;
  }
}

%lg-order-11 {
  @media screen and (min-width: $lg) {
    order: 11 !important;
  }
}

%lg-order-12 {
  @media screen and (min-width: $lg) {
    order: 12 !important;
  }
}

%xl-order-0 {
  @media screen and (min-width: $xl) {
    order: 0 !important;
  }
}

%xl-order-1 {
  @media screen and (min-width: $xl) {
    order: 1 !important;
  }
}

%xl-order-2 {
  @media screen and (min-width: $xl) {
    order: 2 !important;
  }
}

%xl-order-3 {
  @media screen and (min-width: $xl) {
    order: 3 !important;
  }
}

%xl-order-4 {
  @media screen and (min-width: $xl) {
    order: 4 !important;
  }
}

%xl-order-5 {
  @media screen and (min-width: $xl) {
    order: 5 !important;
  }
}

%xl-order-6 {
  @media screen and (min-width: $xl) {
    order: 6 !important;
  }
}

%xl-order-7 {
  @media screen and (min-width: $xl) {
    order: 7 !important;
  }
}

%xl-order-8 {
  @media screen and (min-width: $xl) {
    order: 8 !important;
  }
}

%xl-order-9 {
  @media screen and (min-width: $xl) {
    order: 9 !important;
  }
}

%xl-order-10 {
  @media screen and (min-width: $xl) {
    order: 10 !important;
  }
}

%xl-order-11 {
  @media screen and (min-width: $xl) {
    order: 11 !important;
  }
}

%xl-order-12 {
  @media screen and (min-width: $xl) {
    order: 12 !important;
  }
}

%collapse-xs-down {
  @include max-width($xs) {
    margin-left: 0;
    display: block;
    > %cell {
      padding-left: 0;
      width: auto;
      max-width: none;
    }
  }
}

%collapse-sm-down {
  @include max-width($sm) {
    margin-left: 0;
    display: block;
    > %cell {
      padding-left: 0;
      width: auto;
      max-width: none;
    }
  }
}

%collapse-md-down {
  @include max-width($md) {
    margin-left: 0;
    display: block;
    > %cell {
      padding-left: 0;
      width: auto;
      max-width: none;
    }
  }
}

%collapse-lg-down {
  @include max-width($lg) {
    margin-left: 0;
    display: block;
    > %cell {
      padding-left: 0;
      width: auto;
      max-width: none;
    }
  }
}

%collapse-xl-down {
  @include max-width($xl) {
    margin-left: 0;
    display: block;
    > %cell {
      padding-left: 0;
      width: auto;
      max-width: none;
    }
  }
}