@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-Light.woff2') format('woff2'), url('../font/archer/Archer-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-LightItalic.woff2') format('woff2'), url('../font/archer/Archer-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-Book.woff2') format('woff2'), url('../font/archer/Archer-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-BookItalic.woff2') format('woff2'), url('../font/archer/Archer-BookItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-Medium.woff2') format('woff2'), url('../font/archer/Archer-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-MediumItalic.woff2') format('woff2'), url('../font/archer/Archer-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-Semibold.woff2') format('woff2'), url('../font/archer/Archer-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-SemiboldItalic.woff2') format('woff2'), url('../font/archer/Archer-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-Bold.woff2') format('woff2'), url('../font/archer/Archer-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../font/archer/Archer-BoldItalic.woff2') format('woff2'), url('../font/archer/Archer-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('../font/avenir/AvenirLTPro-Book.woff2') format('woff2'), url('../font/avenir/AvenirLTPro-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../font/avenir/AvenirLTPro-Medium.woff2') format('woff2'), url('../font/avenir/AvenirLTPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir';
	src: url('../font/avenir/AvenirLTPro-Heavy.woff2') format('woff2'), url('../font/avenir/AvenirLTPro-Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../font/avenir/AvenirLTPro-Black.woff2') format('woff2'), url('../font/avenir/AvenirLTPro-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}